<h1>Registrarse es rápido y fácil</h1>
  </div>
    </div>
      </div>

    <div class="form-outline mb-4">
    <label for="exampleDNI">DNI</label>
    <input type="text" name="DNI" class="form-control" id="exampleDNI" placeholder="DNI">
  </div>

    <div class="form-outline mb-4">
    <label for="exampleNombres">Nombres</label>
    <input type="text" name="nombres" class="form-control" id="exampleNombres" placeholder="Nombres">
  </div>

    <div class="form-outline mb-4">
    <label for="exampleApellidos">Apellidos</label>
    <input type="text" name="apellidos" class="form-control" id="exampleApellidos" placeholder="Apellidos">
  </div>

    <div class="form-outline mb-4">
    <label for="exampleDireccion">Dirección</label>
    <input type="text" name="direccion" class="form-control" id="exampleApellidos" placeholder="Dirección">
  </div>

    <div class="form-outline mb-4">
    <label for="exampleTelefono">Telefono</label>
    <input type="text" name="telefono" class="form-control" id="exampleTelefono" placeholder="Telefono">
  </div>

    <div class="form-outline mb-4">
    <label for="form2Example1">Correo Electrónico</label>
    <input type="email" name="email" class="form-control" id="form2Example1" placeholder="Correo electrónico"/>
  </div>

    <div class="form-outline mb-4">
    <label for="form2Example2">Contraseña</label>
    <input type="password" id="form2Example2" class="form-control" placeholder="Contraseña"/>
  </div>

  <div class="form-outline mb-4">
    <label for="examplefecha">Fecha de nacimiento</label>
    <input type = "date"> 
    </div>

    <div class="form-outline mb-4">
    <label for="examplesexo">Sexo</label>
    <input type="text" name="Sexo" class="form-control" id="exampleSEXO" placeholder="Sexo">
    </div>

<!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-block mb-3">Registrar datos</button>
  </div>
