    <h1>Registrarse es rápido y fácil</h1>
  <div class="form-group">
    <label for="exampleNombres">Nombres</label>
    <input type="text" name="nombres" class="form-control" id="exampleNombres" placeholder="Nombres">
  </div>

  <div class="form-group">
    <label for="exampleApellidos"Apellidos</label>
    <input type="text" name="apellidos" class="form-control" id="exampleApellidos" placeholder="Apellidos">
  </div>

  <div class="form-group">
    <label for="exampleDNI">DNI</label>
    <input type="text" name="DNI" class="form-control" id="exampleDNI" placeholder="DNI">
  </div>

  <div class="form-outline mb-4">
    <input type="email" id="form2Example1" class="form-control" />
    <label class="form-label" for="form2Example1">Email address</label>
  </div>

    <div class="form-outline mb-4">
    <input type="password" id="form2Example2" class="form-control" />
    <label class="form-label" for="form2Example2">Password</label>
  </div>

    <div class="form-group">
    <label for="exampleSEXO">SEXO</label>
    <input type="text" name="SEXO" class="form-control" id="exampleSEXO" placeholder="SEXO">

<br>
Fecha de nacimiento: <input type = "date"> 
</br>

<!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-block mb-3">Sign in</button>
  </div>
